/* 
Fonts Utilizadas
font-family: 'Grape Nuts', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Montserrat', sans-serif;
*/

/* ELEMENTOS GENERALES */
body {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/* SEECION NAVBAR Y CARROUSEL*/
.navbar {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.tituloNavbar {
  font-family: 'Major Mono Display', monospace;
}

.boton-carrusel {
  width: 6%;
}

/* SECCION QUIENES SOMOS?*/
#quienesSomos i {
  background-color: #4cc9f0;
  width: 410px;
}

/* SECCION CARDS*/
#destacados {
  background-color: black;
}

.card-body {
  background-color: #4cc9f0;
}

.card-body p {
  font-size: 1em;
}


/* SECCION FOOTER*/
.footer {
  font-family: "Major Mono Display", monospace;
}

.footer a {
  color: white;
  text-decoration: none;
}